<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/ms.css">

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jsrender.min.js"></script>
    <script type="text/javascript" src="/static/js/service.js"></script>
    <title> News portal</title>
</head>


<script id="tmpShowNews" type="text/html">
    <table id="newsTable">
        <tr>
            <td colspan="3"><a href="#" id="backBtn" onclick="switchPage('newsList');">BACK</a></td>
        </tr>
        <tr>
            <td class="boldText">
                {{:data.title}}
            </td>
            <td>
                (by {{:data.author}})
            </td>
            <td class="right-align">
                {{:data.date}}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                {{:data.text}}
            </td>
        </tr>
        <tr class="comments">
            <td colspan="3"></td>
        </tr>
        {{for comments ~u=user}}
        <tr class="comments" idx="{{>id}}">
            <td colspan="2">
                <span class="commentsDate"> {{>date}}</span>
            </td>
            <td></td>
        </tr>
        <tr class="comments" idx="{{>id}}">
            <td class="commentsText" colspan="2">
                {{>text}}
                {{if ~u}}
                <input class="delCommentBtn" type="button" value="X" onclick="deleteComment('{{>id}}','{{>news_id}}');">
                {{/if}}
            </td>
            <td></td>
        </tr>
        {{/for}}
        <tr>
            <td colspan="2">
                <textarea id="commentText" cols="40" rows="5" class="commentInput"></textarea>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="right-align" colspan="2">
                <input type="button" value="Send comment" id="sendCommentButton">
            </td>
            <td></td>
        </tr>
        <tr>
            <td><a href="#" id="prevBtn">PREVIOUS</a></td>
            <td class="right-align" colspan="2">
                <a href="#" class="right-align" id="nextBtn">NEXT</a>
            </td>
        </tr>
    </table>
</script>

<script id="tmpAddComment" type="text/html">
    <tr class="comments" idx="{{>id}}">
        <td class="commentsDate">
            {{:date}}
        </td>
    </tr>
    <tr class="comments" idx="{{>id}}">
        <td class="commentsText">
            {{:text}}
            {{if user}}
            <input class="delCommentBtn" type="button" value="X" onclick="deleteComment('{{:id}}','{{:newsId}}');">
            {{/if}}
        </td>
    </tr>
</script>

<script id="tmpEditAuthors" type="text/html">
    <table id="editAuthorsTable">
        {{props authors}}
        <tr idx="{{>key}}">
            <td class="boldText">
                Author:
            </td>
            <td class="names">
                <textarea idx="{{>key}}" rows="1" disabled>{{>prop}}</textarea>
            </td>
            <td idx="{{>key}}" class="menu">
                <span class="edit">
                <a href="#" onclick="
                    scrollOff();
                    $(this).css('display','none');
                    $('#editAuthorsTable textarea[idx={{>key}}]').removeAttr('disabled');
                    $(this).parent('span').next('span').css('display','inline');
                    scrollOn();
                ">Edit</a>
                </span>
                <span class="modify" style="display:none;">
                <a href="#" onclick="updateAuthor('{{>key}}');">Update</a>
                <a href="#" onclick="expireAuthor('{{>key}}');">Expire</a>
                <a href="#" onclick="drawEditAuthors();">Cancel</a>
                </span>
            </td>
        </tr>
        {{/props}}
        <tr class="last">
            <td></td>
        </tr>
        <tr>
            <td class="boldText">
                Add Author:
            </td>
            <td>
                <textarea class="newAuthorName" rows="1"></textarea>
            </td>
            <td class="menu">
                <a href="#" onclick="addAuthor();">Save</a>
            </td>
        </tr>
    </table>
</script>

<script id="tmpEditTags" type="text/html">
    <table id="editTagsTable">
        {{props tags}}
        <tr idx="{{>key}}">
            <td class="boldText">
                Tag:
            </td>
            <td class="names">
                <textarea idx="{{>key}}" rows="1" disabled>{{>prop}}</textarea>
            </td>
            <td idx="{{>key}}" class="menu">
                <span class="edit">
                <a href="#" onclick="
                    scrollOff();
                    $(this).css('display','none');
                    $('#editTagsTable textarea[idx={{>key}}]').removeAttr('disabled');
                    $(this).parent('span').next('span').css('display','inline');
                     scrollOn();
                ">Edit</a>
                </span>
                <span class="modify" style="display:none;">
                <a href="#" onclick="updateTag('{{>key}}');">Update</a>
                <a href="#" onclick="deleteTag('{{>key}}');">Delete</a>
                <a href="#" onclick="drawEditTags();">Cancel</a>
                </span>
            </td>
        </tr>
        {{/props}}
        <tr class="last">
            <td></td>
        </tr>
        <tr>
            <td class="boldText">
                Add Tag:
            </td>
            <td>
                <textarea class="newTagName" rows="1"></textarea>
            </td>
            <td class="menu">
                <a href="#" onclick="addTag();">Save</a>
            </td>
        </tr>
    </table>
</script>

<script id="tmpAddNews" type="text/html">
    <table id="addNewsTable">
        <tr>
            <td class="boldText">
                Title:
            </td>
            <td>
                <textarea id="addNewsTitle" rows="1"></textarea>
            </td>
        </tr>
        <tr>
            <td class="boldText">
                Date:
            </td>
            <td>
                <input id="addNewsDate" type="datetime">
            </td>
        </tr>
        <tr>
            <td class="boldText">
                Brief:
            </td>
            <td class="">
                <textarea id="addNewsBrief" rows="5"></textarea>
            </td>
        </tr>
        <tr>
            <td class="boldText">
                Content:
            </td>
            <td class="">
                <textarea id="addNewsContent" rows="20"></textarea>
            </td>
        </tr>
        <tr>
            <td></td>
            <td id="addNewsfilterCont">
                <select id="addNewsAuthorSelect">
                    <option value="0" label="All authors"></option>
                    {{props authors}}
                    <option value="{{>key}}" label="{{>prop}}"></option>
                    {{/props}}
                </select>
                <div class="ms" id="ms2">
                    <div class="selectBox"
                         onclick="$('#ms2 .dropDown').css('display', $('#ms2 .dropDown').css('display') == 'none' ? 'block' : 'none')">
                        <select>
                            <option>Select tags</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div class="dropDown" id="addNewsTagsSelect"
                         onmouseleave=" $('#ms2 .dropDown').css('display', 'none');"
                         onchange="var num=$('#ms2 input:checked').length;if(num>0)$('#ms2 option').text(num+' selected');else $('#ms2 option').text('Select tags');">
                        {{props tags}}
                        <label style="display: block;"><input value="{{>key}}" type="checkbox"/>{{>prop}}</label>
                        {{/props}}
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="right-align">
                <input type="button" id="addNewsSaveBtn" value="Save">
            </td>
        </tr>
    </table>
</script>

<script id="tmpSideMenu" type="text/html">
    <div id="menu">
        <ul>
            <li>
                <a onclick="drawNewsList()" href="#">News List</a>
            </li>
            <li>
                <a onclick="drawAddNews()" href="#">Add News</a>
            </li>
            <li>
                <a onclick="drawEditAuthors()" href="#">Add/Update Authors</a>
            </li>
            <li>
                <a onclick="drawEditTags()" href="#">Add/Update tags</a>
            </li>
        </ul>
    </div>
</script>

<script id="tmpNavigation" type="text/html">
    <table class="navigation">
        <tr>
            <td>
                <a id="bannerBtn" href="#">News portal
                    {{if user}}
                    - Administration
                    {{/if}}
                </a>
            </td>
            <td class="right-align">
                {{if user}}
                <span class="welcome">
                    Hello, Admin {{:user}}!
                </span>
                <a href="#" id="logoutBtn"> Logout </a>
                {{else}}
                <a href="#" id="loginBtn"> Login </a>
                {{/id}}
                <a href="#"> EN </a>
                <a href="ru"> RU </a>
            </td>
        </tr>
    </table>
</script>

<script id="tmpLoginPage" type="text/html">
    <form id="loginForm">
        <table>
            <tr>
                <td><label>Login:</label></td>
                <td><input id="loginLogin" name="login" type="text"></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td><input id="loginPass" name="password" type="password"></td>
            </tr>
            <tr>
                <td></td>
                <td><input id="loginSubmit" type="button" value="Login"></td>
            </tr>
        </table>
    </form>
</script>

<script id="tmpPaginBtn" type="text/html">
    <a href="#" id="{{:id}}" class="pgBtn{{:cls}}">{{:id}}</a>
</script>

<script id="tmpFilter" type="text/html">
    <div>
        <select id="authorFilter">
            <option value="0" label="All authors"></option>
            {{props authors}}
            <option value="{{>key}}" label="{{>prop}}"></option>
            {{/props}}
        </select>
        <div class="ms" id="ms1">
            <div class="selectBox"
                 onclick="$('#ms1 .dropDown').css('display', $('#ms1 .dropDown').css('display') == 'none' ? 'block' : 'none')">
                <select>
                    <option>Select tags</option>
                </select>
                <div class="overSelect"></div>
            </div>
            <div class="dropDown" id="tagsSelect"
                 onmouseleave=" $('#ms1 .dropDown').css('display', 'none');"
                 onchange="var num=$('#ms1 input:checked').length;if(num>0)$('#ms1 option').text(num+' selected');else $('#ms1 option').text('Select tags');">
                {{props tags}}
                <label style="display: block;"><input value="{{>key}}" type="checkbox"/>{{>prop}}</label>
                {{/props}}
            </div>
        </div>
        <input type="button" value="Filter" onclick="setFilter();">
        <input type="button" value="Reset" onclick="resetFilter();">
    </div>
</script>

<script id="tmpNewsList" type="text/html">
    <table id="newsListTable">
        {{for list ~u=user}}
        <tr>
            <td colspan="2"><span class="boldText">{{>title}} </span><span> (by {{>author}})</span></td>
            <td class="right-align">{{>date}}</td>
        </tr>
        <tr>
            <td colspan="3">{{>short}}</td>
        </tr>
        <td colspan="3" class="right-align">
            <span class="tagsCol">{{>tags}}</span>
            <span class="commentsCounter">Comments(<span idx="{{>id}}">{{>comments}}</span>)</span>
            {{if ~u}}
            <span><a href="#" id="{{>id}}">Edit</a></span>
            <input type="checkbox" value="{{>id}}">
            {{else}}
            <span><a href="#" id="{{>id}}">View</a></span>
            {{/if}}
        </td>
        {{/for}}
        {{if user && list.length}}
        <tr>
            <td colspan="3" class="right-align">
                <input type="button" onclick="deleteNews();" value="Delete">
            </td>
        </tr>
        {{/if}}
    </table>
</script>

<body>
<wrapper>
    <div id="navigationCont" class="stop-scrolling"></div>
    <content>
        <div id="loginCont"></div>
        <table>
            <tr>
                <td id="menuCol">
                    <div id="menuCont"></div>
                </td>
                <td>
                    <div id="newsViewCont"></div>
                    <div id="newsListBlock">
                        <div id="filterCont"></div>
                        <div id="newsListCont"></div>
                        <div id="paginateCont"></div>
                    </div>
                </td>

            </tr>
        </table>
    </content>
    <footer>
        Copyright ⓒ Vasiliy Tolkachov, 2016
    </footer>
</wrapper>
</body>
</html>