html,
body {
    height: 100%;
    margin: -.1em .1em;
}

wrapper {
    display: table;
    height: 100%;
    margin: 0 auto;
    width: 95%;
}

content {
    display: table-row;
    height: 100%;
    margin: 0 auto;
    width: 95%;
}

footer {
    border-top: solid thin #333;
    font-size: 75%;
    text-align: center;
}

.navigation {
    width: 100%;
    /*position: fixed;*/
    /*background: white;*/
    /*margin: 0 auto;*/
    /*padding-bottom: 1em;*/
}

.navigation span {
    padding: .2em;
}

a {
    text-decoration: none;
    color: #00f;
}

.right-align {
    text-align: right;
}

.commentsCounter {
    color: #f00;
    padding: .5em;
}

.tagsCol {
    color: #888;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.commentsText {
    background-color: #eee;
}

#loginForm table {
    width: auto !important;
    text-align: left;
    margin: 2em auto;
    border: 1px solid black;
}

#menu {
    position: fixed;
    top: 5em;
    left: 0;
    /*border: solid black 1px;*/
    /*width: 12em;*/
    /*width: auto;*/
}

#filterCont {
    text-align: center;
    /*display: inline-block;*/
    margin: 0 auto;
    width: 100%;
}

td.names {
    width: 60%;
}

td.menu {
    width: 20%;
}

#filterCont input {
    margin: .2em;
}

table textarea {
    width: 100%;
}

textarea[rows="1"] {
    overflow: hidden;
    resize: none;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

table {
    width: 100%;
}

td {
    padding: .5em;
    /*border: black 1px solid;*/
}

#paginateCont {
    text-align: center;
    width: 100%;
}

.pgBtn {
    border: black 1px solid;
    border-radius: 2px;
    padding: 0 .25em;
    color: black;
}

.pgBtn {
    border: black 1px solid;
    border-radius: 2px;
    padding: 0 .25em;
    color: black;
    background: white;
    margin: 2px;
}

.pgBtn:hover {
    background: lightgray;
}

.current {
    background-color: #333 !important;
    color: #fff;
}

.welcome {
    font-weight: bolder;
}

#bannerBtn {
    font-weight: bolder;
    font-size: x-large;
}

.boldText {
    font-weight: bolder;
}

/*#navigationCont table {*/
/*width: 100%;*/
/*padding: 1em;*/
/*}*/

.grey {
    background-color: #aaa !important;
}

.commentInput {
    width: 100%;
}

.commentsDate {
    position: relative;
    bottom: -.5em;
    text-decoration: underline;
    padding-top: .5em;
}

.delCommentBtn {
    position: relative;
    float: right;
    /*top: -.2em;*/
    /*right: -.2em;*/
}