html,
body {
    height: 100%;
    margin: -.1em .1em;
}

wrapper {
    display: table;
    height: 100%;
    margin: 0 auto;
    width: 95%;
}

content {
    display: table-row;
    height: 100%;
    margin: 0 auto;
    width: 95%;
}

footer {
    border-top: solid thin #333;
    font-size: 75%;
    text-align: center;
}

.navigation {
    width: 100%;
}

.nondeco {
    text-decoration: none;
    color: #55f;
}

.right-align {
    text-align: right;
}

.comments-count {
    color: #f66;
}

.tags-text {
    color: #666;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.comment-text {
    background-color: #eee;
}

.login-form {
    padding-top: 5em;
}

.login-form td {
    padding: .2em;
}

.menu {
    position: fixed;
    top: 8em;
    border: solid black 1px;
    padding: .5em;
}

#div_form_filter {
    display: table;
    margin: 0 auto;
    width: 100%;
}

#div_form_filter > * {
    margin: .5em;
}

#news_table {
    width: 100%;
}

#news_table td {
    /*border: black 1px solid;*/
    padding: .5em;
}

#div_pagination {
    padding: 1em;
    background-color: #efefef;
}

#div_pagination * {
    margin: 2px;
}

#div_pagination .current {
    background-color: #333;
    color: #fff;
}

span {
    padding: .5em;
}
