<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.multi-select').multiselect();
        });
    </script>
    <div class="news-table">
        <table>
            <tr>
                <td colspan="3">
                    <div class="center-align">
                        <form method="get" name="filter">

                            <select name="author" class="btn btn-default multi-select">
                                <option label="Select the author" value="0"></option>
                                {% for a in authors %}
                                    <option label="{{ a.author_name }}"
                                            value="{{ a.author_id }}"
                                            {% if a.author_id == author %} selected {% endif %}
                                    >
                                    </option>
                                {% endfor %}
                            </select>

                            <select name="tags" class="btn btn-default multi-select" multiple>
                                <option label="Select tags" value="0" disabled></option>
                                {% for t in tags %}
                                    <option label="{{ t.tag_name }}"
                                            value="{{ t.tag_id }}"
                                            {% if t.tag_id in sel_tags %} selected {% endif %}
                                    >
                                    </option>
                                {% endfor %}
                            </select>

                            {{ form.filter(class="btn btn-default") }}
                            {{ form.reset(class="btn btn-default") }}
                        </form>
                    </div>
                </td>
            </tr>
            {% if list %}
                {% for news in list.items %}
                    <tr>
                        <td colspan="2" class="left-align">
                            <strong>{{ news.title }}</strong>
                            (by {{ news.get_author().author_name }})
                        </td>
                        <td class="right-align">
                            {{ news.creation_date }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            {{ news.short_text }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="right-align">
            <span class="tags-list">
                            {{ news.get_tags() }}
                            </span>
            <span class="comments-count">
                            Comments({{ news.get_comments_count() }})
                            </span>
                            <a href="{{ url_for('show_news',back=list.page, id=news.news_id) }}">View</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                <td colspan="3">
                <div class="paginate">
                {%- for page in list.iter_pages() %}
                    {% if page %}
                        {% if page != list.page %}
                            <a href="{{ url_for('index', page=page) }}"
                               class="btn btn-xs btn-default">{{ page }}</a>
                        {% else %}
                            <a href="#" class="btn btn-xs">{{ page }}</a>
                        {% endif %}
                    {% else %}
                        <span class=ellipsis>…</span>
                    {% endif %}
                {%- endfor %}
            {% endif %}
            </div>
            </td>
            </tr>
        </table>
    </div>
{% endblock %}
