{% extends "base.html" %}
{% block content %}
    <div align="center">
        <form action="" method="post" name="login" class="login-form">
            <table>
                <tr>
                    <td>
                        {{ form.login.label }}:
                    </td>
                    <td>
                        {{ form.login }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.password.label }}:
                    </td>
                    <td>
                        {{ form.password }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="right-align">
                        {{ form.submit }}
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
