<div class="navigation">
    <table>
        <tr>
            <td width="100%">
                <a href="{{ url_for('index') }}">
                    <h2>News portal</h2>
                </a>
            </td>
            <td>
                <a href="#" class="btn btn-xs btn-default">
                    EN
                </a>
            </td>
            <td>
                <a href="#" class="btn btn-xs btn-default">
                    RU
                </a>
            </td>
        </tr>
    </table>
</div>