<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
    <div class="news-table">

        <table>
            <tr class="left-align">
                <td>
                    <a href="{{ url_for('index', page=back) }}">BACK</a>
                </td>

            </tr>
            <tr>
                <td>
                    <strong>{{ news.short_text }}</strong>
                </td>
                <td class="left-align">
                    (by {{ news.get_author().author_name }})
                </td>
                <td class="right-align">
                    <u>{{ news.creation_date }}</u>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {{ news.full_text }}<br>
                </td>
            </tr>
            {% for c in news.get_comments() %}
                <tr>
                    <td>
                        <u>{{ c.creation_date }}</u>
                    </td>
                </tr>
                <tr>
                    <td class="comment-text" width="50%">
                        {{ c.comment_text }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <form action="" method="post" name="comment">
                        {{ form.text(cols="100", rows="5") }}
                        <div class="right-align">
                            {{ form.submit(class="right-align") }}
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td class="left-align">
                    <a href="#">PREVIOUS</a>
                </td>
                <td></td>
                <td class="right-align">
                    <a href="#">NEXT</a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
